// Прижимаем футер к низу страницы
html, body{
	height: 100%;
}
.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main{
	flex: 1 0 auto;
}
.footer{
	flex: 0 0 auto;
}



// Container
.container{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}