/*reset сss*/
*,*:before,*:after{box-sizing: border-box;}

body, h1, h2, h3, h4, h5, h6, p, ul, li{margin: 0;}

a{cursor: pointer; text-decoration: none;}

button{cursor: pointer;}

ul li{list-style: none;}

input, textarea, select{font: inherit}