@mixin font($font_name, $file_name, $weight, $style) {
    @font-face { 
        font-family: $font_name; 
        font-display: swap; 
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2"); 
        font-weight: #{$weight}; 
        font-style: #{$style}; 
    }
}

// Vendor
@import "vendor/slick";
@import "vendor/modals-plug";



@import "fonts";
@import "reset";
@import "vars";
@import "global";


body{
    font-family: 'Muller', sans-serif;
    font-size: 16px;
    color: $black;
    overflow-x: hidden;
    line-height: 1.2;

    &.no-scroll{
        overflow: hidden;
    }
}




// Section
@import "section/header";
@import "section/intro";
@import "section/what";
@import "section/wait";
@import "section/proga";
@import "section/aurveda";
@import "section/instructors";
@import "section/reviews";
@import "section/why";
@import "section/price";
@import "section/footer";




// Blocks
@import "blocks/logo";
@import "blocks/tel";
@import "blocks/btn";
@import "blocks/social";
@import "blocks/section";
@import "blocks/five-block";
@import "blocks/slider";
@import "blocks/eight-block";
@import "blocks/five-col";
@import "blocks/center";
@import "blocks/grid-twelve";
@import "blocks/mega-slider";
@import "blocks/six-block";
@import "blocks/six-line";
@import "blocks/price-list";
@import "blocks/price-on-of";
@import "blocks/four-line";
@import "blocks/footer-header";
@import "blocks/nav";




// Helpers
@import "blocks/helpers";