$black: #000;
$gray: #4B4B4B;
$white: #fff;
$gold: #F8F2E4;
$gold-light: #FFF8E6;
$blue: #5A56AF;
$orange: #E28234;


// Media
$iphone5: "max-width: 320px";
$usm: "max-width: 479px";
$sm: "max-width: 575px";
$md: "max-width: 767px";
$lg: "max-width: 991px";
$xl: "max-width: 1199px";