@charset "UTF-8";

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerLight.woff") format("woff"), url("../fonts/MullerLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerLightItalic.woff") format("woff"), url("../fonts/MullerLightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerRegularItalic.woff") format("woff"), url("../fonts/MullerRegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "MyriadProRegular";
  font-display: swap;
  src: url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*reset —Åss*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

input,
textarea,
select {
  font: inherit;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'Muller', sans-serif;
  font-size: 16px;
  color: #000;
  overflow-x: hidden;
  line-height: 1.2;
}

body.no-scroll {
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.header__text {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.header__tel-link {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.intro {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.intro__title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.intro__subtitle {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.intro__mini-title {
  margin-bottom: 100px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.intro__social {
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what {
  padding: 50px 0;
  background-color: #F8F2E4;
}

.what__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what__left,
.what__right {
  width: 50%;
}

.what__img {
  display: block;
  width: 100%;
  max-width: 390px;
  margin-right: 0;
}

.what__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what__title {
  margin-bottom: 32px;
  font-size: 30px;
  font-weight: 500;
  color: #000;
}

.what__title--heavy {
  font-size: 48px;
  text-transform: uppercase;
}

.what__text {
  width: 100%;
  max-width: 390px;
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}

.what__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.what__icon {
  display: block;
  margin-right: 20px;
}

.what__icon--mr23 {
  margin-right: 23px;
}

.what__minititle {
  display: block;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
}

.what__minititle--mt6 {
  margin-top: 6px;
}

.what__minititle--mt7 {
  margin-top: 7px;
}

.footer {
  background-color: #5A5A5A;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__link {
  margin: 0 5px;
}

.social__item {
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
  background: transparent;
}

.social__item:hover {
  background-color: #fff;
}

.social__item:hover .social__icon {
  fill: #000;
}

.social__icon {
  display: block;
  fill: #fff;
  height: 13px;
  width: 13px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  font-family: inherit;
  background: none;
  border: 0;
}

.btn-bid {
  padding: 1.17em 4.17em;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
}

.btn-bid:hover {
  color: #000;
  background-color: #fff;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.imgr {
  display: block;
  width: 100%;
  height: auto;
}

.mb0 {
  margin-bottom: 0;
}

.bold {
  font-weight: 700;
}

@media (max-width: 991px) {
  .helper-media-tac-lg {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .helper-media-tac-md {
    text-align: center;
  }
}