.footer{
	background-color: #FCF9F1;
	
	&__name-office{
		margin-bottom: 17px;

		font-size: 16px;
		font-weight: 500;
		color: $black;

		@media ($lg) {
			text-align: center;
		}
	}
	&__wrap{
		display: flex;

		@media ($lg) {
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
		}
	}
	&__item{
		padding: 0 5px;

		@media ($lg) {
			margin-bottom: 30px;
			padding: 0;
		}
	}
	&__map-item{
		margin-bottom: 13px;
	}
	&__address{
		font-size: 11px;
		color: $black;
	}
	&__bg{
		background-color: #383838;
	}
	&__underground{
		padding: 12px 0;
		display: flex;
		justify-content: space-between;

		@media ($md) {
			flex-direction: column;
			align-items: center;
		}

	}
	&__left,
	&__right{
		display: flex;
		align-items: center;
	}
	&__left{
		@media ($md) {
			margin-bottom: 20px;
		}
	}
	&__right{
		font-size: 12px;
		color: $white;

		@media ($md) {
			text-align: center;
		}
	}
	&__content{
		margin-left: 40px;

		@media ($usm) {
			margin-left: 20px;
		}
	}
	&__suptitle{
		margin-bottom: 8px;

		font-size: 12px;
		color: $white;
	}
	&__link{
		font-size: 18px;
		font-weight: 700;
		color: $white;
		text-decoration: underline;

		&:hover{
			color: $orange;
		}
	}
	&__name{
		margin-bottom: 8px;
	}
	
}