.price{
	background-color: $gold;

	&__footer{
		width: 100%;
		max-width: 820px;

		font-size: 18px;
		color: $black;
		text-align: center;

		@media ($md) {
			font-size: 17px;
		}
		@media ($sm) {
			font-size: 15px;
		}
		@media ($usm) {
			font-size: 13px;
		}
	}
}