.eight-block{
	margin: 0 -20px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&__col{
		width: 25%;
		padding: 10px;

		@media ($md) {
			width: 50%;
		}
		@media ($sm) {
			width: 100%;
		}
	}
	&__item{
		padding: 30px 0 20px;
		width: 100%;
		max-width: 220px;

		text-align: center;
		background-color: $gold-light;

		@media ($md) {
			margin: 0 auto;
		}
	}
	&__time{
		font-size: 14px;
		font-weight: 300;
		color: $gray;
	}
	&__title{
		margin-top: 10px;

		font-size: 18px;
		font-weight: 500;
		color: $black;
	}
	&__wrap{
		margin: 13px 0 18px;
	}
	&__link{
		margin: 13px 0 18px;

		font-size: 12px;
		font-weight: 400;
		color: $blue;

		border-bottom: 1px solid $blue;

		&:hover{
			color: $orange;

			border-bottom: 1px solid $orange;
		}
	}
}