.footer-header{
	padding: 50px 0 55px;
	
	&__ceiling{
		width: 100%;
		max-width: 550px;
		display: flex;
		margin-bottom: 30px;
	}
	&__col{
		width: 50%;

		&:last-child{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	}
	&__title{
		margin-bottom: 23px;

		font-size: 22px;
		font-weight: 500;
		color: $black;
	}
	&__subtitle{
		margin-bottom: 16px;

		font-size: 16px;
		font-weight: 500;
		color: $black;


		&--mb9{
			margin-bottom: 9px;
		}
	}
}