.footer-header{
	&__ceiling{
		width: 100%;
		max-width: 550px;
		display: flex;
	}
	&__col{
		width: 50%;
	}
	&__title{
		margin-bottom: 23px;

		font-size: 22px;
		font-weight: 500;
		color: $black;
	}
	&__subtitle{
		margin-bottom: 16px;

		font-size: 16px;
		font-weight: 500;
		color: $black;
	}
}