.four-line{
	display: flex;
	flex-wrap: wrap;

	&__col{
		width: 25%;
		padding: 0 5px;

		@media ($md) {
			width: 50%;
		}
		@media ($usm) {
			width: 100%;
		}
	}
	&__item{
		@media ($md) {
			margin-bottom: 30px;
		}
	}
	&__img{
		display: block;
		margin: 0 auto 9px;
	}
	&__text{
		font-size: 14px;
		color: $black;
		text-align: center;
	}
}