.price-on-of{
	width: 100%;
	max-width: 735px;
	margin: 0 auto 28px;

	&__item{
		display: flex;
		margin-bottom: 5px;
	}
	&__img{
		display: block;
		margin: 7px 20px 0 0;

		@media ($md) {
			margin-top: 6px;
		}
		@media ($sm) {
			margin-top: 3px;
		}
	}
	&__text{
		font-size: 18px;
		color: #4E4E4E;

		@media ($md) {
			font-size: 17px;
		}
		@media ($sm) {
			font-size: 15px;
		}
		@media ($usm) {
			font-size: 13px;
		}
	}
}