.price-on-of{
	width: 100%;
	max-width: 735px;
	margin: 0 auto 28px;

	&__item{
		display: flex;
		align-items: center;
		margin-bottom: 5px;
	}
	&__img{
		display: block;
		margin: 3px 20px 0 0;
	}
	&__text{
		font-size: 18px;
		color: #4E4E4E;
	}
}