.section{
	padding: 80px 0;

	&__title{
		margin-bottom: 20px;

		font-size: 36px;
		font-weight: 500;
		color: $black;
		text-align: center;
	}
	&__subtitle{
		margin-bottom: 30px;

		font-size: 24px;
		font-weight: 500;
		color: $black;
		text-align: center;
	}
	&__subline{
		display: block;
		margin: 0 auto 80px;
	}
	&__text{
		margin-bottom: 40px;

		font-size: 18px;
		font-weight: 300;
		color: $black;
		text-align: center;
	}
	&__p{
		&:first-child{
			margin-bottom: 20px;
		}
		&--italic{
			font-style: italic;
		}
	}
}