.slider{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;

	@media (max-width: 1920px) {
		max-width: 940px;
		
	}
	
	&__body{
		height: 480px;
		overflow: hidden;
	}
	&__body.slick-initialized{
		height: auto;
	}
	&__item{
		@media (max-width: 1920px) {
			padding: 0 15px;
		}
	}
	&__substrate{
		width: 100%;
		max-width: 850px;
		margin: 0 auto;
		position: relative;

		background-color: #444444;
	}
	&__img{
		display: block;
		width: 100%;
		max-width: 850px;
		margin: 0 auto;
	}
	&__frame{
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		text-align: center;

		background: transparent;
		opacity: 0;

		transform: translate3d(-50%, -50%, 0);
	}
	&__content{
		width: 94%;
		height: 87%;
		border: 1px solid $white;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__title{
		margin-bottom: 16px;

		font-size: 26px;
		font-weight: 500;
		color: $white;
		text-transform: uppercase;
	}
	&__text{
		width: 100%;
		max-width: 480px;
		font-size: 18px;
		color: $white;
	}

	.slick-slide{
		padding-top: 25px;

		@media (max-width: 1920px) {
			padding-top: 0;
		}
	}
	.slick-active{
		padding-top: 0;
	}
	.slick-active .slider__substrate{
		max-width: 940px;

		@media (max-width: 1920px) {
			max-width: 850px;
		}
	}
	.slick-active .slider__img{
		max-width: 940px;
		opacity: .5;
		@media (max-width: 1920px) {
			max-width: 850px;
		}
	}
	.slick-active .slider__frame{
		opacity: 1;
	}
}