.social{
	display: flex;

	&--mb9{
		margin-bottom: 9px;
	}
	&__link{
		margin: 0 5px;
	}
	&__item{
		width: 26px;
		height: 26px;
		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 50%;
		border: 1px solid $white;
		background: transparent;

		&:hover{
			background-color: $white;

			.social__icon{
				fill: $black;
			}
		}
		&--lg{
			width: 40px;
			height: 40px;
			border: 1px solid $orange;

			&:hover{
				background-color: $orange;
	
				.social__icon--orange{
					fill: $white;
				}
			}
		}
	}
	&__icon{
		display: block;
		fill: $white;
		height: 13px;
		width: 13px;

		&--orange{
			fill: $orange;
			height: 20px;
			width: 20px;
		}
	}
}